body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0E131F;
}

.container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}


h1 {
  color: #31A8EA;
  font-size: 4rem;
 
}

#message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: 40px repeat(10, 1fr);
    grid-template-rows: 40px repeat(10, 1fr);
    gap: 1px;
    max-width: 580px;
    margin: 20px 12.5%;
    padding: 2px;
    border: 3px solid #050538;
    border-radius: 5px;
    background-color: #050538;
  }
  
  .cell {
    width: 50px;
    height: 50px;
    background-size: cover; 
    background-position: center; 
    border: 1px solid #050538;
    color: black;
    font-size: 2em;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(./img/sea.jpg);
  }

  .header-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    border: 1px solid #050538;
    color: black;
    background-image: url(./img/sea.jpg);
  }

  
  #message {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #31A8EA;
    padding: 10px 20px;
    border-radius: 10px;
    animation: fade-in 0.5s ease-in-out;
  }
  
 #message.hit {
    background-color: #FF4747;
  }
  
  #message.celebrate {
    background-color: #0E131F;
    color: #31ea91;
    font-size: 48px;
  }


.restart-button{
    background-color: #31A8EA;
    color: black;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    width: 160px;
}

.restart-button:hover {
  background-color: #265782;
}
  